@use "variables" as *;

.sigma-wrapper {
    position: relative;
    overflow: hidden;

    section {
        position: relative;
        z-index: 1;
    }
}

.sigma-logo {
    position: absolute;
    top: 23%;
    left: 77%;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    line-height: 1;
}

.about-us-content {
    margin-top: 8rem;
}

.about-second-h1 {
    margin-top: 3rem;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}
