@use "variables" as *;

.blog-heading {
    max-width: 55%;
}

.robots-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
    height: 582px;
}

.robot-card {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    background: $light-gray;

    &__cta {
        margin-top: auto;
        margin-right: auto;
    }

    > h3 {
        font-weight: 600;
    }
}

.robot-img {
    margin-top: auto;
    max-width: 100%;
}

.btn-explore-services {
    width: 33%;
    color: $dark;
    border: 1px solid $dark;

    &:hover,
    &:focus {
        border-color: $primary;
        color: $primary;
        background-color: $light-gray;
    }
}