@use "variables" as *;

.blue-background {
    background: $primary;
    min-height: clamp(400px, 40vw, 774px);
    padding: 5rem;
}

.contact-section {
    padding: 4rem 0;
}

.contact-text {
    position: relative;
    width: 40%;
    margin-right: 10rem;
}

.become-a-partner {
    width: 50%;
    padding: 1.5rem;
    border-radius: 1rem;
    background: $white;

    img {
        margin-top: 0;
    }

    > p {
        color: $text;
    }

    > h3 {
        padding-top: 2rem;
        font-weight: 600;
    }

    .button-wrapper {
        justify-content: flex-start;
    }
}
