@use "variables" as *;

.img-scaling {
    overflow: hidden;
    width: 100%;      

    img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.carousel-item {
    .col-6:first-child {
        overflow: hidden;

        img {
            width: 100%;
            transition: transform 0.35s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}