@use "variables" as *;

.partners-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding: 40px 0;
}

.partner-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 440px;

    background: $white;
}
