@use "variables" as *;

.services-intro {
    width: 45%;

    > p {
        color: $text;
    }
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 5px;
    height: 591px;
    padding-top: 40px;
}

.service-card {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    background: $light-gray;

    > div:last-child {
        margin-top: auto;
        margin-left: auto;
    }

    > p {
        color: $gray-3b;
    }
}

.card-h2 {
    margin-bottom: 2rem;
}

